<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywxs.blog.dao.BlogMapper">
    <select id="getBlogStatistics" resultType="com.ywxs.blog.common.entity.vo.BlogStatisticsVO">
        select authorName,sum(readNum) readNum, sum(likeNum) likeNum
        from blog
        where authorId = #{adminId}
        GROUP BY authorName
    </select>
    <select id="getAllOrTodayBlog" resultType="java.lang.Integer">
        select count(1) from blog
        <where>
            <if test="startTime != null">
                AND createTime between #{startTime} and #{endTime}
            </if>
        </where>
    </select>
</mapper>
