<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywxs.blog.dao.UserMapper">
    <select id="getAllNumOrTodayNum" resultType="java.lang.Integer">
        select count(*)
        from user
        <where>
            <if test="startTime != null">
                AND createTime between #{startTime} and #{endTime}
            </if>
        </where>
    </select>
</mapper>
